#container
{
    background-image: url("src\assets\BackGround2.jpg");
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

#welcome
{
    background-color:transparent;
    height: 31vh;
    width: 100%;
    padding: 50px
}

h1
{
    color:rgb(53, 117, 96)
}

#balance
{
    background-color:rgb(53, 117, 96);
    padding: 40px;
    width: 95%;
    border-radius: 20px;
    position: absolute;
    top:140px
}

h2
{
    color:rgb(43, 43, 43)
}

#balance h1
{
    color: white;
    font-size: 60px
}

#personal-data
{
    background-color:transparent;
    padding: 140px 40px 40px 40px;
    width: 100%
}

#personal-data h2
{
    margin-bottom: 10px
}

#personal-data h1
{
    color:rgb(43, 43, 43)
}

#personal-data span
{
    color:rgb(53, 117, 96)
}