<div id="container">
    <div id="welcome">
        <h2>Hi Youssef</h2>
        <h1>Good morning</h1>
    </div>
    <div id="balance">
        <h2>Current balance</h2>
        <h1>5000</h1>
    </div>
    <div id="personal-data">
        <h1>Personal information</h1><br><br>
        <h2><span>National ID:</span>12345</h2>
        <h2><span>Name:</span> Youssef Mahmoud</h2>
        <h2><span>Birth date:</span> 2000-02-10</h2>
        <h2><span>Address:</span> Louran, Alexandria</h2>
        <h2><span>Marital status:</span>Single</h2>
        <h2><span>Mobile number:</span>01005600618</h2>
        <h2><span>Email:</span>youssefmahmoud10220@gmail.com</h2>
        <h2><span>Nationality:</span>Egyptian</h2>
    </div>
</div>