#container
{
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

#welcome
{
    background-color:transparent;
    height: 20vh;
    width: 100%;
    padding: 50px
}

h1
{
    color:rgb(53, 117, 96)
}

#balance
{
    background-color:rgb(53, 117, 96);
    padding: 40px;
    width: 90%;
    border-radius: 20px;
    /* position: absolute;
    top:140px */
}

h2
{
    color:rgb(43, 43, 43)
}

#balance h1
{
    color: white;
    font-size: 60px
}

#account-data
{
    background-color:transparent;
    padding: 45px 40px 40px 40px;
    width: 100%
}

#account-data h2
{
    margin-bottom: 10px
}

#account-data h1
{
    color:rgb(43, 43, 43)
}

#account-data span
{
    color:rgb(53, 117, 96)
}